@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.overall-container{
    height: 100vh;
    width: 100%;
    overflow: auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.overall-container::-webkit-scrollbar{
    display: none;
}
.back-vid video{
    width:100% ;
    height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}
.page-title{
    width: 98%;
    border-radius: 15px;
    border: 2px solid #fffd8c;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 5px #FFFD8C;
    z-index: 10;
}
.page-title img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    padding: 5px;
}
.slide i,.page-title input{
    display: none;
}

.page-title input:checked~.page-switch{
    background-color: rgba(255, 255, 255, 0.093);
    left: 0%;
    transition: 2s;
}
.page-switch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-switch a{
    padding: 10px 20px;
    text-decoration: none;
    font-size:large; 
    border: 2px solid transparent;
    color:#F5EEE6;
    transition: all 2s;
}
.page-switch a:hover{
    border: 2px solid crimson;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px crimson;
    color:#FFB000 ;
    text-decoration: underline;
}
                    /* middle */
.middle{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}
.slogan{
    font-size: 30px;
    padding: 20px;
    border: 3px solid palegreen;
    border-radius: 15px;
}
.booking{
    width: 70%;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    background: #AEDEFC;
}

.book-box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.cab{
    width: 50%;
}
.cab label{
    padding: 15px;
    color: darkslategrey;
}
.cab input{
    width: 80%;
    display: inline;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: transparent;
    color: crimson;
    font-size: 20px;
}
.cab input:hover{
    background-color: white;
}
.cab input:focus{
    outline: none;
}
.cab button{
    padding: 10px 20px;
    text-decoration: none;
    background-color: lightblue;
    color: crimson;
    border: 3px solid #FFFD8C;
    border-radius: 15px;
    font-size: 20px;
    transition: all 2s;
}
.cab button:hover{
    border: 3px solid salmon;
    background-color: lightpink;
    text-decoration: underline;
}
.a-tag{
    text-decoration: none;
}


            /* footer */
.down{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79E0EE;
    color: white;
}
.down-one, .down-two, .down-three{
    line-height: 27px;
    text-align: center;
    padding: 10px;
    width: 25%;
    cursor: pointer;
}
.down-one p:hover, .down-two p:hover, .down-three p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.t-dec{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.down-one h3:hover, .down-two h3:hover, .down-three h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.down-icon{
    width: 20%;
    color: white;
    font-size: 30px;
    padding: 2px;
}
.fa-brands{
    color: white;
    padding: 2px;
}
.fa-facebook:hover{
    background-color: royalblue;
    border-radius: 50%;
    padding: 2px;
}
.fa-x-twitter:hover{
    background-color:black;
    border-radius: 40%;
    padding: 2px;
}
.fa-instagram:hover{
    background-image:  linear-gradient(45deg,red,orange,yellow);
    border-radius: 30%;
    padding: 2px;
}
.fa-youtube:hover{
    background-color: red;
    border-radius: 30%;
    padding: 2px;
}
.down-image{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.down-image img{
    width: 150px;
    height: 60px;
    object-fit: contain;
}

@media screen and (max-width:500px) {
    .page-title{
        padding:5px ;
        width:95%;
    }
    .page-title img{
        width: 100px;
        height: 60px;
        object-fit: cover;
        padding: 5px;
    }
    .slide i{
        padding: 15px;
        font-size: 30px;
        display: block;
        color: black;
    }
    .page-switch{
        position: fixed;
        left: -100%;
        top: 90px;
        height: 90vh;
        width: 100%;
        line-height: 60px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 70px;
        color: black;
    }
    .page-switch a{
        font-size: 25px;
    }
    .booking{
        width: 100%;
        padding:20px 5px;
        font-size: 20px;
    }
    .book-box{
        flex-direction: column;
    }
    .cab{
        width: 90%;
        padding: 20px 5px;
    }
    .cab label{
        padding: 20px 5px;
    }
    .cab input, .cab button{
        font-size: 20px;
    }
    .down{
        flex-direction: column;
    }
    .down-one, .down-two, .down-three, .down-icon, .down-image{
        width: 90%;
        padding: 20px;
    }
    .down-icon{
        padding: 10px 60px;
    }
}
@media (min-width:500px) and (max-width:850px) {
    .page-title{
        padding:5px;
        width: 97%;
    }
    .page-title img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        padding: 5px;
    }
    .slide i{
        padding: 15px;
        font-size: 30px;
        display: block;
        color: black;
    }
    .page-switch{
        position: fixed;
        left: -100%;
        top: 90px;
        height: 90vh;
        width: 100%;
        line-height: 60px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 70px;
        color: black;
    }
    .page-switch a{
        font-size: 30px;
    }
    .booking{
        width: 100%;
        font-size: 20px;
    }
    .cab input, .cab button{
        font-size: 20px;
    }
    .down-one, .down-two, .down-three, .down-icon, .down-image{
        width: 60%;
        padding: 10px;
    }
    .down-image img{
        width: 100px;
        height: 40px;
    }
    .down-icon{
        padding: 10px 20px;
        font-size: 20px;
    }
}
                              